body {
    background-image:url('../media/background.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    background-color: #979797;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  .page {
    max-width: 640px;
    margin: 0 auto 30px auto;}
  
  .panel {
    background-color: #fff;
    color: #666;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;}
  
  /********** TYPOGRAPHY **********/
  h1{
      font-size:3em;
  }
  h1,h3 {
    text-align: center;
    text-shadow:2px 2px black;
  }
  body, button {
      font-family: 'Georgia', serif;
  }
  h2, h3 {
    font-weight: normal;
    margin: 0;}
  h2 {
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    line-height: 1em;
    padding: 20px 0 0 20px;
    text-align:center;
  }
  h3 {
    letter-spacing: 0.2em;
    font-size:2em;
  }
  
  p {
    font-family: 'Arial', sans-serif;
    font-size:larger;
    line-height: 2.4em;
    }
  
  a {
      text-decoration: none;
  }
  
  button {
    font-size: 90%;
    text-align: left;
    text-transform: uppercase;
  }
  .icon-bar {
    overflow: auto; 
  }
  .icon-bar a {
   float: left; /* Float links side by side */
   width:10%;
   text-align: center; /* Center-align text */
   margin-right:1%;
   transition: all 0.3s ease; /* Add transition for hover effects */
   color: white; /* White text color */
   font-size: 36px; /* Increased font size */
   background:white;
   color:black;
   border-radius:20px;  
  }
  .icon-bar a:hover {
   color:red; /* Add a hover color */
  }
  section{
   width:50%;
  }