body{
	background-color:darkblue;
	color:lemonchiffon;
	width:80%;
}
h1{
    margin-left:30%;
}
p{
	margin-left:50px;
}
img{
	float:right;
	outline:5px solid darkblue;
	outline-offset:10px;
	margin:20px;
}
div{
	width:80%;
	background-color:lemonchiffon;
	color:darkblue;
	padding:20px;
}