body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16pt;
    background-image:url('../media/background.png');
    background-repeat:no-repeat;
    background-size: fill;
    background-attachment: fixed;
    background-color:rgb(153, 170, 181);
}
canvas {
    border: 1px solid #d3d3d3;
    background: linear-gradient(to bottom right, #152636, #259faf, #b4d2d3, #57b8bc, #044553);
    margin-right: auto;
    margin-left: auto;
    display: block;
}
button {
    margin-top:2%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

table, th, td {
    margin-top:2%;
    border: 1px solid;
    font-size: 14px;
}
table{
    color: #044553;
    background-color: #b4d2d3;
    margin-right:auto;
    margin-left:auto;
}
p{
    text-align:right;
    color:#152636;
}